.cell {
    border: 1px solid #fff;
    height: 10px;
    width: 10px;
    padding: 10px;
    border-radius: 25px;
}

.food {
    background-color: red;
}

.snake_body {
    background-color: green;
    position:absolute;
}

.snake_head {
    background-color: yellow;
}